.adminCard{
    width: 240px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #1890FF;

}

.adminImg{
    height: 50%;
    border-radius: 16px 16px 0px 0px;
}

.adminCardWrapper{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 15px;
    text-align: left;
}

.adminCost{
    border: 1px solid #1890FF;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap:10px;
}
.adminCardH2{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.85)
}

.adminCardDescr{
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
    max-width: 210px;
    overflow-x:hidden
}