.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #262626;
    position: fixed;
    top:0px;
    width: 100%;
    padding:10px 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    overflow: visible;
    color: #FFFFFF;
    z-index: 1000;
}
.links{
    overflow: visible;
    display: flex;
    flex-direction: row;
    gap:16px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

}
.link{
    overflow: visible;

    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.043));
    border-radius: 101px;
    padding: 5px 16px;
    border: 1px solid #1890FF;


}

.activeLink{
    background: #1890FF;
    /* drop-shadow / button-primary */
    overflow: visible;

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 101px;
    padding: 8px 16px;

}

.userInfo{
    overflow: visible;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}